################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio files
.vs/
.vscode/

# build output directories
build/
out/